<!DOCTYPE html>
<html>
{% load static %}
<body>
{% include 'cv/navbar.html' %} 
<!-- Page content -->
<div class="w3-content" style="max-width:1100px; margin-top:50px;">

  <!-- About Section -->

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About Me</h1><br>
      <p class="w3-large w3-justify">Hey there! I am Aayush Shah. I'm a software developer born on April 3<sup>rd</sup>, 1995 in Vadodara, India and raised in Mumbai, India. I'm currently in my 2<sup>nd</sup> year of my MS degree in Computer Science at NJIT, Newark, New Jersey. I have Completed my Bachelors in Engineering degree from K.J. Somaiya College of Engineering, Mumbai, India. I have worked as an event coordinator in KJSCE Skream -- a national level sport summit and managed the badminton tournaments. I have also worked as an event coordinator in Abhiyantriki -- K.J. Somaiya College of Engineering Techfest and managed the Codeswap competition. I have also conducted lectures to teach various underprivileged children basics of using a computer.</p>   
    </div>
    <img src="{% static "image/download.png" %}" class = "w3-col m6 w3-padding-large" alt="My image"/>
  </div>
</body>
</html>