<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}`
<body>
{% include 'cv/navbar.html' %} 
<!-- Page Content -->  
<div class="w3-content" style="max-width:1100px; margin-top:50px;">
    <div class="w3-col 112 w3-padding">
        <h1 class="w3-center">Resume</h1><br>
        <iframe src="{% static "pdf/Aayush_Resume.pdf" %}" class= "w3-col m12" height = "1150"></iframe>
    </div>    
</div>    
</body>
</html>   