<!DOCTYPE html>
<html>]
{% load static %}
<body>
{% include 'cv/navbar.html' %} 
<!-- Page Content -->  
<div class="w3-content" style="max-width:1100px; margin-top:50px;">
    <div class="w3-col 112 w3-padding">
        <h1 class="w3-center">Skills</h1><br>
    </div>
    {% for skills in myskills %}
        <div class = "w3-col m6 w3-padding-small">    
            <h5 class="w3-center">{{skills.skill_name}}</h6>
        </div>    
        <div class = "w3-col m6 w3-padding-small">
            <div class="meter">
                {% widthratio skills.level 0.1 1 as percent %}
                <span style="width : {{percent}}%;"><span class="progress">
                </span>
                </span>
            </div>
            <h6 class="w3-center"> {{skills.level}}</h6><br>
        </div>    
    {% endfor %}    
</div>    
</body>
</html> 